<section id="confirmPhoto">
    <h1><span>Confirm Your Picture</span></h1>
    <p class="lHeight19 textCenter">Click "continue" to confirm this is the image you'd like to use, or select "upload picture" to choose another.</p>
    <img src="<%= photoUrl %>" alt="Uploaded Photo" id="cpPhoto">
    <p id="cpPhotoName" class="textCenter"><%= photoName %></p>
    <p class="clearfix" style="margin-top: 20px;">
        <a id="cpUploadLink"><span>Upload Picture</span></a>
        <a id="cpContinueLink"><span>Continue</span></a>
    </p>
</section>