<section id="eml">
    <h1><span>Enter your Email</span></h1>
    <p class="lHeight19">Fill out the form below to begin the experience.</p>
    <form name="emailForm" method="post" action="" id="emailForm">
        <div id="emErrorMsg" class="errors">Please make sure that you have properly completed all of the fields below.</div>
        <ol>
            <li id="firstNameWrapper">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" required="required">
            </li>
            <li id="lastNameWrapper">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" required="required">
            </li>
            <li id="emailWrapper">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required="required">
            </li>
        </ol>
        <input type="hidden" name="fns" value="acct">
    </form>
    <p class="clearfix"><a id="emContinueLink"><span>Continue</span></a></p>
</section>