<section id="home" class="clearfix">
    <div id="intro">
        <h1><span>Still Ill.</span></h1>
        <p class="margin15-0 lHeight19" id="celebrate">Celebrate the 20th anniversary Nas’ illmatic by putting your your face on the front of one hip hop’s most game changing records. Use photos already in your Facebook albums, or even upload your own baby picture to recreate the iconic cover.</p>
        <div class="sep"></div>
        <p class="margin15-0 lHeight19" id="flyAway"><strong>Create yours now for a chance to meet Nas in person!</strong>
        Each user is entered to win concert tickets and meet and greet with Nas at Austin City Limits. Two fans will also win signed copies of the album.</p>
        <div class="sep"></div>
        <p id="celebrate-mobile">Celebrate the 20th anniversary of illmatic by entering to win tickets to meet and see Nas in concert at Austin City Limits. Two fans will also win signed copies of one of hip hop’s most game changing albums. Connect below to enter!</p>
        <div id="flyAwayMobile"></div>
        <div id="enterToWin"></div>
        <a id="hFbLink"><span>Connect with Facebook</span></a>
        <p class="textLightGrey clearfix" id="connectWithEmail"><span id="hUploadText">or connect with</span><a id="hUploadLink">email</a></p>
        <a id="hGalleryLink"><span>view the gallery</span></a>
    </div>
    <div id="placeholder"></div>
</section>