<section id="home" class="clearfix">
    <div id="intro" class="right">
        <h1><span>Still Ill.</span></h1>
        <p class="margin15-0 lHeight19" style="margin-bottom: 30px;">Celebrate the 20th anniversary Nas’ illmatic by putting your your face on the front of one hip hop’s most game changing records. Use photos already in your Facebook albums, or even upload your own baby picture to recreate the iconic cover.</p>
        <div class="sep"></div>
        <p class="margin15-0 lHeight19" id="flyAway"><strong>Create yours now for a chance to meet Nas in person!</strong>
        Each user is entered to win concert tickets and meet and greet with Nas at Austin City Limits. Two fans will also win signed copies of the album.</p>
        <div class="sep"></div>
        <p class="clearfix"><a id="hFbLink"><span>Connect with Facebook</span></a></p>
        <p class="textLightGrey clearfix"><span id="hUploadText">or connect with</span><a id="hUploadLink">email</a></p>
        <p class="clearfix"><a id="hGalleryLink"><span>view the gallery</span></a></p>
    </div>
    <div id="placeholder"></div>
</section>