<section id="home" class="clearfix">
    <div id="intro">
        <h1><span>Still Ill.</span></h1>
        <p class="margin15-0" id="celebrate">Celebrate the release of illmatic XX, the 20th anniversary edition of Nas' album, illmatic by creating your own Illmatic XX cover art.</p>
        <div class="sep"></div>
        <p class="lHeight19" id="flyAway"><strong>Create yours now for a chance to meet Nas in person!</strong>
        Each user is entered to win concert tickets and meet and greet with Nas at Austin City Limits. Two fans will also win signed copies of the album.<span></span></p>
        <div class="sep"></div>
        <p id="celebrate-mobile">Celebrate the release of illmatic XX by entering to win tickets to meet and see Nas in concert at Austin City Limits. Two fans will also win signed copies of one of hip hop's most game changing albums. <strong>Connect below to enter!</strong></p>
        <div id="flyAwayMobile"><span></span></div>
        <a id="hFbLink"><span>Connect with Facebook</span></a>
        <p class="clearfix textDarkGrey" id="connectWithEmail"><span id="hUploadText">or connect with</span><a id="hUploadLink">email</a></p>
        <a id="hGalleryLink"><span>view the gallery</span></a>
        <a id="hBuyLink" target="_blank" href="https://itunes.apple.com/us/album/illmatic/id662324135"><span>Buy album on iTunes</span></a>
        <a id="hDesktopLink"><span>Forward to Desktop</span></a>
    </div>
    <div id="placeholder"></div>
</section>