<section id="photoEdit" class="clearfix">
    <h1><span>create your cober</span></h1>
    <p class="lHeight19 textCenter" style="margin: 0 auto 35px; width: 500px;">Position your face within the outline by dragging your image within the viewer. Then use the tools below to align your eyes with the "X"s and add your name.</p>
    <div class="right">
        <div id="peErrorMsg" class="errors">There was an error generating your album art.  Please contact our technical support.</div>
        <form name="photoEditForm" method="post" action="" id="photoEditForm">
            <div id="peErrorMsg" class="errors">Please make sure that you have proper complete the form field below.</div>
            <div>
                <label for="tagText">Your Name</label>: &nbsp; <input type="text" name="tagText" id="tagText" value="<%= firstName %>"> &nbsp; <small class="textWhite">15 character limit</small>
                <input type="hidden" name="zoom" id="zoom" value="0">
                <input type="hidden" name="angle" id="angle" value="0">
                <input type="hidden" name="cropx" id="cropx" value="0">
                <input type="hidden" name="cropy" id="cropy" value="0">
                <input type="hidden" name="fns" value="pEdt">
            </div>
        </form>
        <div class="sliders">
            <div class="clearfix" id="zoomSliderWrapper">
                <label for="zoomSlider">Size:</label>
                <span class="first"></span>
                <div id="zoomSlider"></div>
                <span class="last"></span>
            </div>
            <div class="clearfix" id="angleSliderWrapper">
                <label for="angleSlider">Rotate:</label>
                <span class="first"></span>
                <div id="angleSlider"></div>
                <span class="last"></span>
            </div>
        </div>
        <p class="clearfix">
            <a id="peBackLink"><span>go back</span></a>
            <a id="peContinueLink"><span>Continue</span></a>
        </p>
    </div>
    <div id="uploadContainer">
        <div>
            <img src="<%= photoUrl %>" alt="Uploaded Photo" id="peUploadedPhoto">
            <span id="pePhotoOverlay"></span>
        </div>
    </div>
</section>