<section id="photoEdit">
    <h1>Edit Your Photo Below</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum elit nec turpis faucibus, quis imperdiet quam bibendum.</p>
    <div id="uploadContainer">
        <img src="<%= photoUrl %>" alt="Uploaded Photo" id="peUploadedPhoto">
    </div>
    <div>
        <div id="zoomSlider" style="margin: 15px 75px;"></div>
        <div id="angleSlider" style="margin: 15px 75px;"></div>
    </div>
    <div id="peErrorMsg" class="errors">
        There was an error generating your album art.  Please contact our technical support.
    </div>
    <form name="photoEditForm" method="post" action="" id="photoEditForm">
        <div id="peErrorMsg" class="errors">Please make sure that you have proper complete the form field below.</div>
        <div>
            <label for="tagText">Name</label>: &nbsp; <input type="text" name="tagText" id="tagText">
            <input type="hidden" name="zoom" id="zoom" value="0">
            <input type="hidden" name="angle" id="angle" value="0">
            <input type="hidden" name="fns" value="pEdt">
        </div>
    </form>
    <p class="button"><a id="peBackLink">Back</a></p>
    <p class="button"><a id="peContinueLink">Continue</a></p>
</section>