<section id="share">
    <h1>Look Good?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum elit nec turpis faucibus, quis imperdiet quam bibendum.</p>
    <div>
        <img src="<%= photoUrl %>" alt="Uploaded Photo" style="max-height: 200px;">
    </div>
    <div>
        <p><a id="sFbLink">Facebook Share</a></p>
        <p><a id="sTwLink">Twitter Share</a></p>
        <p><a href="#" target="_blank">Download</a></p>
        <p><a id="sBuyLink">Buy Album</a></p>
        <p><a id="sGalleryLink">See Gallery</a></p>
        <p><a id="SInstLink">Instagram Share</a></p>
    </div>
</section>