<section id="share">
    <h1><span>Congratulations</span></h1>
    <p class="lHeight19 textCenter" style="width: 500px; margin: 0 auto 30px;">You're entered to win a chance to meet and see Nas in concert in at Austin City Limits! Be sure to share your illmatic album cover on Facebook, Twitter or Instagram below, and pick up a copy of the 20th anniversary edition on iTunes.</p>
    <img src="<%= photoUrl %>" alt="Uploaded Photo" style="max-height: 200px;">
    <div id="sButtons">
        <p class="button"><a id="sFbLink">Facebook Share</a></p>
        <p class="button"><a id="sTwLink">Twitter Share</a></p>
        <p class="button"><a href="#" target="_blank">Download</a></p>
        <p class="button"><a id="sBuyLink">Buy Album</a></p>
        <p class="button"><a id="sGalleryLink">See Gallery</a></p>
        <p class="button"><a id="SInstLink">Instagram Share</a></p>
    </div>
</section>