<section id="share" class="clearfix">
    <h1><span>Congratulations</span></h1>
    <p class="lHeight19 textCenter" style="width: 508px; margin: 0 auto 30px;">You're entered to win 2 tickets to see Nas in concert! Be sure to share your Illmatic album cover on Facebook, Twitter or Instagram below, and pick up a copy of the 20th anniversary edition on iTunes.</p>
    <div id="sArt">
        <img src="<%= photoUrl %>" alt="Uploaded Photo" id="sAlbumArt">
        <p class="clearfix textWhite" style="margin-top: 10px;"><a id="SInstLink" target="_blank" href="http://instagram.com/">Be sure to download your image and share on Instagram using #illmaticxx</a></p>
    </div>
    <div id="sButtons">
        <a id="sFbLink"><span>Facebook Share</span></a>
        <a id="sTwLink" target="_blank" href="https://twitter.com/home?status=<%= twShareMsg %>"><span>Twitter Share</span></a>
        <a id="sDownloadLink" target="_blank" href="/api/download"><span>Download</span></a>
        <a id="sGalleryLink"><span>See Gallery</span></a>
        <div>
            <a id="sBuyLink" target="_blank" href="http://smarturl.it/illmaticxx_itunes?IQid=illmaticxx.int"><span>Buy 
            Album</span></a>
            <a id="sAmazonLink" target="_blank" href="http://smarturl.it/illmaticxx_amzn?IQid=illmaticxx.int"><span>Amazon MP3</span></a>
        </div>
    </div>
</section>