<section id="tyMobile">
    <h1><span>congratulations</span></h1>
    <p>You're entered to win! Visit this site on desktop to create your own illmatic album cover to share with friends. And be sure to pick up the 20th anniversary edition of the album on iTunes.</p>
    <a id="tyGalleryLink"><span>view the gallery</span></a>
    <a id="tyBuyLink" target="_blank" href="https://itunes.apple.com/us/album/illmatic/id662324135"><span>Buy album on iTunes</span></a>
    <a id="tyDesktopLink"><span>Forward to Desktop</span></a>
</section>