<section id="upload">
    <h1><span>Pick your picture</span></h1>
    <p class="lHeight19 textCenter">Click on the "Upload Picture" button below to browse for your photo.</p>
    <span></span>
    <div id="upErrorMsg" class="errors">Please make sure that you are uploading an image (jpg, png or gif) that is less than 2MB.</div>
    <iframe src="/api/upload" width="375" height="46" id="uploadFrame" scrolling="no"></iframe>
    <p class="lHeight19" style="margin: 15px 0 35px;">For best results, use a straight on head and shoulder shot.<br>Max upload size - 2MB (jpg, png or gif accepted)</p>
    <p class="clearfix"><a id="upContinueLink"><span>Continue</span></a></p>
</section>