<section id="upload">
    <h1>Pick your picture</h1>
    <p>Click on the "Upload Picture" button below to browse for your photo.</p>
    <div name="uploadForm" method="post" action="" id="uploadForm">
        <div id="upErrorMsg" class="errors">
            Please make sure that you are uploading an image (jpg, png or gif) that is less than 2MB.
        </div>
        <iframe src="/ss/upload.php" width="800" height="100" id="uploadFrame"></iframe>
    </form>
    <p>For best results, use a straight on head and shoulder shot.<br>Max upload size - 2MB (jpg, png or gif accepted)</p>
    <p class="button"><a id="upContinueLink">Continue</a></p>
</section>