#confirmPhoto {
    width: 437px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -208px 0;
        width: 389px;
        height: 58px;
        margin: 35px auto 25px;

        >span { display: none; }
    }

    >img {
        display: block;
        width: 75px;
        margin: 25px auto 10px;
    }
}

#cpUploadLink, #cpContinueLink {
    @include spriteButton();

    float: left;
}

#cpUploadLink {
    background-position: -4112px 0;
    
    &:active { background-position: -4112px -46px; }
}
#cpContinueLink {
    margin-left: 19px;
    background-position: -903px 0;

    &:active { background-position: -903px -46px; }
}