#confirmPhoto {
    width: 437px;
    margin: 0 auto;

    >h1 {
        width: 388px;
        height: 57px;
        background: url(../img/confirm-your-picture-heading.png) no-repeat 0 0;
        margin: 35px auto 25px;

        >span { display: none; }
    }

    >img {
        display: block;
        width: 75px;
        margin: 25px auto 10px;
    }
}

#cpPhotoName { color: #992a11; }

#cpUploadLink, #cpContinueLink {
    @include button();

    float: left;
    width: 209px;
    height: 46px;
}

#cpUploadLink { background: url(../img/upload-picture-button.png) no-repeat 0 0; }
#cpContinueLink {
    margin-left: 19px;
    background: url(../img/continue-button.png) no-repeat 0 0;
}