@media screen and (min-width: 800px) {
    html {
        background-image: url(../img/desktop-bg.png);

        >body {
            padding: 0px 25px 15px;
            width: 974px;

            >#content { min-height: 500px; }

            >#terms {
                width: 930px;
                height: 28px;
                font-size: 9px;

                >div {
                    float: left;

                    >p { line-height: 14px; }
                }

                >p { 
                    float: left;
                    margin-top: 4px;

                    >a {
                        width: 21px;
                        height: 18px;
                        margin: 3px 13px 0 0;
                        background: url(../img/twitter-bird-icon.png) no-repeat 0 0;

                        &:first-child {
                            width: 11px;
                            height: 20px;
                            background-image: url(../img/facebook-f-icon.png);
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }


    #home {

        >#intro {
            width: 440px;
            float: right;

            >h1 {
                @include sprite();

                background-position: -3878px 0;
                width: 233px;
                height: 74px;
            }
        }

        >#placeholder {
            height: 598px;
            width: 517px;
            background: url(../img/home-albums.png) no-repeat 0 0;
        }

        #celebrate {
            margin-bottom: 25px;
            width: 385px;
            font-size: 19px;
            line-height: 23px;
        }

        #flyAway {
            position: relative;
            background-position: 0 0;
            padding-right: 190px;
            margin: 20px auto 25px;

            >strong {
                display: block;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 18px;
            }

            >span {
                @include sprite();

                display: block;
                position: absolute;
                top: 5px;
                right: 72px;
                width: 98px;
                height: 136px;
                background-position: 0 0;
            }
        }

        #connectWithEmail {
            margin-left: 135px;

            #hUploadLink {
                padding-right: 31px;
                background: url(../img/email-icon.png) no-repeat center right;
            }
        }

        #hGalleryLink {
            @include spriteButton();

            background-position: -4322px 0;
            width: 216px; 
            height: 61px;
            margin: 30px auto 10px;

            &:active { background-position: -4322px -61px; }
        }

        #hDesktopLink, #hBuyLink, #celebrate-mobile, #hAmazonLink { display: none; }

        #hFbLink {
            @include spriteButton();

            background-position: -1436px 0;
            margin: 35px auto 20px;

            &:active { background-position: -1436px -46px; }
        }
    }

    #eml {
        width: 414px;

        >h1 {
            @include sprite();

            background-position: -1965px 0;
            width: 314px;
            height: 58px;
            margin: 35px 0 25px 100px;
        }

        #eMblDesc, #emMblBackLink { display: none; }

        >p, #emErrorMsg {
            width: 314px;
            margin-left: 100px;
        }

        >form {
            margin: 40px 0 42px;

            li { padding-bottom: 8px; }

            input, label { height: 35px; }

            label {
                width: 80px;
                line-height: 35px;
            }

            input { width: 314px; }
        }

        #emContinueLink {
            @include spriteButton();

            background-position: -903px 0;
            margin-left: 150px;

            &:active { background-position: -903px -46px; }
        }
    }

    #gallery {
        width: 826px;

        >h1 {
            @include sprite();

            background-position: -2490px 0;
            width: 417px;
            height: 75px;
            margin: 35px auto;
        }

        #gBackLink {
            @include spriteButton();

            margin: 28px auto 0;
            background-position: -4538px 0;

            &:active { background-position: -4538px -46px; }
        }

        #gArt {
            >div {
                >img {
                    width: 155px;
                    height: 152px;
                }
            }
        }
    }

    #lbOverlay {
        >div {
            position: relative;

            >a {
                width: 41px;
                height: 20px;
                background: url(../img/close-heading.png) no-repeat 0 0;

                &#lbD {
                    position: absolute;
                    top: 0;
                    right: 95px;
                    width: 47px;
                    height: 20px;
                    background-image: url(../img/delete-button.png);
                }
            }
        }
    }
}