#eml {
    margin: 0 auto;

    >h1 {
        >span { display: none; }
    }

    >form {
        li {
            &:after {
                @include clearfix();
            }
        }

        input, label {
            display: block;
            float: left;
        }

        label {
            margin-right: 20px;
            text-align: right;
        }

        input {
            border: 1px solid #cbcbcb;
            width: 314px;
            padding: 0 10px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

#emContinueLink {
    margin: 0 auto;
}