#fbPhotos {
    width: 795px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -3139px 0;
        width: 318px;
        height: 58px;
        margin: 35px auto 25px;

        >span { display: none; }
    }

    >p {
        width: 418px;
        text-align: center;
        margin: 0 auto;
    }

    >div.clearfix {
        width: 478px;
        margin: 0 auto;

        >a {
            @include spriteButton();

            float: left;

            &#fbpSelectLink {
                cursor: default;
                background-position: -903px -92px;
                margin-right: 60px;

                &.active {
                    cursor: pointer;
                    background-position: -903px 0px;

                    &:active { ackground-position: -903px -46px; }
                }
            }

            &#fbpUploadLink {
                background-position: -4112px 0;

                &:active { background-position: -4112px -46px; }
            }
        }
    }
}

#photosContainer {
    min-height: 200px;
    padding: 25px;
    margin: 40px 0;

    >span {
        display: block;
        font-style: italic;
        font-size: 200%;
        line-height: 200px;
        text-align: center;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    >a {
        @include button();

        margin: 0 22px 17px 0;
        float: left;
        border: 4px solid transparent;

        >img {
            border: 0;
            height: 50px;
        }

        &.selected { border-color: #992a11; }
    }
}