#fbPhotos {
    width: 795px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -3139px 0;
        width: 318px;
        height: 58px;
        margin: 50px auto 25px;

        >span { display: none; }
    }

    >p#fbDirections {
        width: 418px;
        text-align: center;
        margin: 0 auto;
    }

    >#fbBreadcrumb {
        display: none;
        font-size: 16px;
        line-height: 24px;
        min-height: 24px;
        padding: 10px 47px;

        >a {
            text-decoration: underline;

            &:hover { text-decoration: none; }
            &:active { color: #bbb; }
        }

        >small, >span { font-size: 20px; }
    }

    >#fbpButtons {
        width: 478px;
        margin: 0 auto;

        >a {
            @include spriteButton();

            float: left;

            &#fbpSelectLink {
                cursor: default;
                background-position: -4747px -92px;
                margin-right: 60px;

                &.active {
                    cursor: pointer;
                    background-position: -4747px 0px;

                    &:active { ackground-position: -4747px -46px; }
                }
            }

            &#fbpUploadLink {
                background-position: -4956px 0;

                &:active { background-position: -4956px -46px; }
            }
        }
    }
}

#fbPhotosWrapper {
    >a {
        @include button();

        float: left;
        margin-top: 125px;
        background-position: 0 0;
        background-repeat: no-repeat;
        

        &#fbpPrev {
            width: 46px;
            height: 20px;
            margin-right: 40px;
            background-image: url(../img/arrow-previous.png);
        }

        &#fbpNext {
            width: 38px;
            height: 26px;
            margin-left: 40px;
            background-image: url(../img/arrow-next.png);
        }

        &.inactive {
            cursor: default;
            filter: alpha(opacity=30);
            opacity: 0.3;
        }
    }
}

#photosContainer {
    min-height: 200px;
    padding: 25px;
    margin-bottom: 40px;
    float: left;
    width: 581px;

    >span {
        display: block;
        font-style: italic;
        line-height: 200px;
        text-align: center;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    >a.fbPic {
        @include button();

        margin: 0 0 17px 22px;
        float: left;
        border: 4px solid transparent;
        height: 75px;
        width: 100px;
        overflow: hidden;

        >img {
            border: 0;
            min-height: 75px;
            min-width: 100px;
        }

        &.selected { border-color: #992a11; }
    }

    >a.fbAlbum {
        @include button();

        position: relative;
        margin: 0 0 5px 15px;
        height: 134px;
        width: 176px;
        overflow: hidden;
        float: left;

        >img {
            border: 0;
            min-width: 176px;
            min-height: 134px;
        }

        >span {
            display: block;
            position: absolute;
            bottom: 5px;
            right: 5px;
            left: 5px;
            color: #fff;
            text-shadow: 0 0 5px #000;
            font-size: 15px;
            min-height: 20px;
            line-height: 20px;
            text-align: right;
        }
    }
}