#gallery {
    position: relative;
    width: 826px;
    padding: 0 55px;
    margin: 0 auto;

    >h1 {
        width: 293px;
        height: 58px;
        background: url(../img/illmatic-gallery-heading.png) no-repeat 0 0;
        margin: 35px auto;

        >span { display: none; }
    }

    >a.gArrow {
        @include button();

        position: absolute;
        top: 240px;
        width: 15px;
        height: 20px;
        background-position: 0 0;
        background-repeat: no-repeat;

        &#gPrev {
            left: 0;
            background-image: url(../img/lb-previous-arrow.png);
        }
        &#gNext {
            right: 0;
            background-image: url(../img/lb-next-arrow.png);
        }

        &.inactive { opacity: 0.3; }
    }
}

#gArt {
    height: 318px;
    overflow: auto;

    >div {
        @include clearfix();

        float: left;
        margin-bottom: 12px;

        >img {
            display: block;
            cursor: pointer;
            width: 157px;
            height: 153px;
            float: left;
            margin-left: 10px;

            &:first-child { margin-left: 0; }
        }
    }
}

#gBackLink {
    @include button();

    margin: 28px auto 0;
    width: 209px;
    height: 46px;
}

#gBackLink { background: url(../img/back-home-button.png) no-repeat 0 0; }
