#gallery {
    width: 826px;
    margin: 0 auto;

    >h1 {
        width: 293px;
        height: 58px;
        background: url(../img/illmatic-gallery-heading.png) no-repeat 0 0;
        margin: 35px auto;

        >span { display: none; }
    }
}

#gArt {
    height: 318px;
    overflow: auto;

    >div {
        @include clearfix();

        margin-bottom: 12px;

        >img {
            display: block;
            width: 157px;
            height: 153px;
            float: left;
            margin-left: 10px;

            &:first-child { margin-left: 0; }
        }
    }
}

#gBackLink {
    @include button();

    margin: 28px auto 0;
    width: 209px;
    height: 46px;
}

#gBackLink { background: url(../img/back-home-button.png) no-repeat 0 0; }
