#hUploadText {
    display: block;
    float: left;
    margin-right: 5px;
}
#hUploadLink {
    @include button();

    float: left;
    text-decoration: underline;
    padding-right: 31px;
    background: url(../img/mail-icon.png) no-repeat center right;

    &:hover { text-decoration: none; }
}
#hFbLink {
    @include button();

    width: 209px;
    height: 46px;
    background: url(../img/fb-login-button.png) no-repeat 0 0;
    margin: 30px auto 20px;
}
#hGalleryLink {
    @include button();

    margin: 30px auto 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#intro {
    >h1 {
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: 35px 0 15px;

        >span { display: none; }
    }

    .margin15-0 { margin: 15px 0; }
}