#hUploadText {
    display: block;
    float: left;
    margin-right: 5px;
}
#hUploadLink {
    @include button();

    float: left;
    text-decoration: underline;

    &:hover { text-decoration: none; }
}

#home { margin: 0 auto; }

#intro {
    >h1 {
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: 35px 0 15px;

        >span { display: none; }
    }

    .margin15-0 { margin: 15px 0; }
}