html {
    font-family: arial;
    font-size: 14px;
    background-color: #000;
    color: #333;
    background-position: top center;
    background-repeat: no-repeat;

    >body {
        margin: 0 auto;

        .overlayBG { display: none; }

        >#terms {
            margin: 25px auto 0;
            color: #777;

            a {
                color: #777;
                text-decoration: none;
                font-weight: bold;

                &:hover { text-decoration: underline; }
            }

            >p { 
                >a {
                    @include button();

                    float: left;
                }
            }

            >div {
                >p {
                    &:first-child { font-weight: bold; }
                }
            }
        }
    }
}