html {
    font-family: arial;
    font-size: 14px;
    background-color: #000;
    color: #333;
    background-attachment: fixed;

    >body {
        padding: 15px 25px;
        margin: 0 auto;

        >#spotify {
            display: none;
            margin: 15px 75px;
            background: #030;
            height: 35px;
        }
    }
}