#lbOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/black-trans-bg.png) repeat 0 0;
    padding: 10% 0 0;

    >div {
        margin: 0 auto;
        width: 488px;

        >a {
            @include button();

            margin: 0 auto 20px;

            >span { display: none; }
        }

        >div {
            >a {
                @include button();

                float: left;
                width: 38px;
                height: 26px;
                margin: 125px 0 0 40px;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-image: url(../img/arrow-next.png);

                &:first-child {
                    width: 46px;
                    height: 20px;
                    margin-left: 0;
                    margin-right: 40px;
                    background-image: url(../img/arrow-previous.png);
                }

                &.inactive {
                    filter: alpha(opacity=30);
                    opacity: 0.3;
                }
            }
        }
    }

    #lbImgWrapper {
        float: left;
        width: 318px;
        min-height: 200px;

        >img { width: 100%; }
    }
}