@media screen and (max-width: 799px) {
    html {
        background-image: url(../img/mobile-bg.jpg);
        text-align: center;

        >body {
            padding: 15px 0;

            &.overlay { background: url(../img/black-trans-bg.png) repeat 0 0; }
        }
    }


    #terms {
        font-size: 14px;

        >div {
            clear: left;

            >p { line-height: 19px; }
        }

        >p { 
            width: 65px;
            margin: 95px auto 40px;

            >a {
                width: 15px;
                height: 36px;
                background: url(../img/twitter-t-icon-mobile.png) no-repeat 0 0;

                &:first-child {
                    background-image: url(../img/facebook-f-icon-mobile.png);
                    margin-right: 35px;
                }
                &:hover { background-position: 0 -36px; }
            }
        }

    }


    #home {
        max-width: 610px;
        padding: 0 15px;
        margin: 0 auto;

        >#placeholder { display: none; }

        >#intro {
            >h1 {
                width: 258px;
                height: 81px;
                background-image: url(../img/still-ill-mobile-heading.png);
                margin: 35px auto 30px;
            }
        }

        #celebrate-mobile {
            font-size: 24px;
            line-height: 23px;
        }

        #flyAwayMobile {
            width: 447px;
            height: 292px;
            background: url(../img/nas-fly-mobile.png) no-repeat 0 0;
            margin: 30px auto 0;
        }

        #enterToWin {
            width: 294px;
            height: 40px;
            background: url(../img/enter-to-win-heading.png) no-repeat 0 0;
            margin: 0 auto 40px;
        }

        #hGalleryLink { margin: 80px auto 30px; }

        #hFbLink {
            width: 320px;
            height: 70px;
            margin: 40px auto 30px;
            background-image: url(../img/connect-with-facebook-mobile.png);
        }

        #connectWithEmail {
            margin: 0 auto;
            width: 225px;
            font-size: 20px;
        }

        .sep, #celebrate, #flyAway { display: none; }
    }

    #eml {
        >h1 {
            width: 518px;
            height: 96px;
            background: url(../img/enter-your-email-heading-mobile.png) no-repeat 0 0;
            margin: 35px auto 40px;
        }

        #emErrorMsg, #eMblDesc {
            font-size: 22px;
            line-height: 29px;
        }
        #eDeskDesc { display: none; }

        >form {
            width: 582px;
            margin: 58px auto 73px;

            li { padding-bottom: 10px; }

            input, label {
                height: 51px;
                font-size: 27px;
            }

            label {
                width: 140px;
                line-height: 51px;
                color: #fff;
            }

            input { width: 422px; }
        }

        #emContinueLink {
            width: 320px;
            height: 70px;
            background-image: url(../img/continue-button-mobile.png);
        }

        #emMblBackLink {
            @include button();

            color: #fff;
            text-decoration: underline;
            font-size: 22px;
            line-height: 24px;
            margin-top: 65px;
            text-align: center;

            &:hover { text-decoration: none; }
        }
    }

    #tyMobile {
        width: 640px;
        margin: 0 auto;

        >h1 {
            width: 512px;
            height: 99px;
            background: url(../img/congratulations-heading-mobile.png) no-repeat 0 0;
            margin: 35px auto 28px;

            >span { display: none; }
        }

        >p {
            margin-bottom: 35px;
            font-size: 24px;
            line-height: 33px;
            padding: 0 15px;
        }

        #tyGalleryLink { margin: 45px auto 75px; }
    }

    #tyGalleryLink {
        @include button();
    }

    #hGalleryLink, #tyGalleryLink {
        width: 308px;
        height: 48px;
        background-image: url(../img/view-the-gallery-mobile.png);
    }

    #hDesktopLink, #hBuyLink, #tyDesktopLink, #tyBuyLink {
        @include button();

        width: 320px;
        height: 70px;
        margin: 20px auto;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    #hDesktopLink, #tyDesktopLink { background-image: url(../img/forward-to-desktop-button.png); }
    #tyDesktopLink { margin-bottom: 100px; }
    #hBuyLink, #tyBuyLink { background-image: url(../img/buy-on-itunes-button-mobile.png); }

    #gallery {
        width: 530px;

        >h1 {
            margin: 35px 0;
            width: 224px;
            height: 95px;
            background: url(../img/gallery-heading-mobile.png) no-repeat 0 0;
        }

        >a.gArrow {
            &#gPrev { left: 15px; }
            &#gNext { right: 15px; }
        }

        #gBackLink {
            position: absolute;
            top: 10px;
            right: 15px;
            width: 320px;
            height: 70px;
            background-image: url(../img/back-home-button-mobile.png);
        }

        #gArt {
            >div {
                >img {
                    width: 170px;
                    height: 165px;
                }
            }
        }
    }
}