@media screen and (max-width: 799px) {
    html {
        background: #ff9f00 url(../img/mobile-bg-repeat.png) repeat-x 0 0;
        text-align: center;

        >body {
            background: url(../img/mobile-bg.png) no-repeat 0 0;
            padding: 75px 0 8px;

            &.overlay {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;

                >.overlayBG {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: url(../img/black-trans-bg.png) repeat 0 0;
                }
            }
        }
    }


    #terms {
        font-size: 7px;

        >div {
            clear: left;

            >p { line-height: 9px; }
        }

        >p { 
            width: 61px;
            margin: 30px auto 20px;

            >a {
                @include mSprite();

                width: 28px;
                height: 24px;
                margin-top: 2px;
                background-position: -1305px 0;

                &:first-child {
                    width: 14px;
                    height: 26px;
                    background-position: -852px 0;
                    margin-right: 17px;
                    margin-top: 0;
                }
            }
        }

    }


    #home {
        max-width: 305px;
        padding: 0 12px;
        margin: 0 auto;

        >#placeholder { display: none; }

        >#intro {
            >h1 {
                @include mSprite();

                width: 126px;
                height: 39px;
                background-position: -1178px 0;
                margin: 0 auto 15px;
            }
        }

        #celebrate-mobile {
            font-size: 12px;
            line-height: 16px;
        }

        #flyAwayMobile {
            width: 158px;
            padding-top: 135px;
            background: url(../img/nas-fly-mobile.png) no-repeat top center;
            margin: 15px auto 0;

            >span {
                @include mSprite();

                display: block;
                width: 158px;
                height: 21px;
                background-position: -1660px 0;
            }
        }

        #hGalleryLink { margin: 40px auto 42px; }

        #hFbLink {
            @include mSpriteButton();

            background-position: -535px 0;
            width: 198px;
            height: 43px;
            margin: 17px auto 15px;

            &:active { background-position: -535px -43px; }
        }

        #connectWithEmail {
            margin: 0 auto;
            width: 135px;
            font-size: 11px;
            height: 14px;
            line-height: 14px;

            >#hUploadLink {
                padding-right: 27px;
                background: url(../img/email-icon-mobile.png) no-repeat top right;
            }
        }

        .sep, #celebrate, #flyAway { display: none; }
    }

    #eml {
        >h1 {
            @include mSprite();

            width: 265px;
            height: 50px;
            background-position: -1819px 0px;
            margin: 0 auto 20px;
        }

        #emErrorMsg, #eMblDesc {
            font-size: 11px;
            line-height: 14px;
        }
        #eDeskDesc { display: none; }

        >form {
            width: 291px;
            margin: 29px auto 36px;

            li { padding-bottom: 5px; }

            input, label {
                height: 25px;
                font-size: 13px;
            }

            label {
                width: 70px;
                line-height: 25px;
                color: #fff;
            }

            input { width: 200px; }
        }

        #emContinueLink {
            @include mSpriteButton();

            width: 160px;
            height: 35px;
            background-position: -1500px 0;

            &:active { background-position: -1500px -35px; }
        }

        #emMblBackLink {
            @include button();

            color: #fff;
            text-decoration: underline;
            font-size: 11px;
            line-height: 12px;
            margin-top: 32px;
            text-align: center;

            &:hover { text-decoration: none; }
        }
    }

    #tyMobile {
        width: 320px;
        margin: 0 auto;

        >h1 {
            @include mSprite();

            background-position: -279px 0;
            width: 256px;
            height: 50px;
            margin: 0 auto 14px;

            >span { display: none; }
        }

        >p {
            margin-bottom: 17px;
            font-size: 12px;
            line-height: 16px;
            padding: 0 7px;
        }

        #tyGalleryLink { margin: 22px auto 37px; }
    }

    #hGalleryLink, #tyGalleryLink {
        @include mSpriteButton();

        background-position: -1334px 0;
        width: 166px;
        height: 24px;

        &:active { background-position: -1334px -24px; }
    }

    #hDesktopLink, #hBuyLink, #tyDesktopLink, #tyBuyLink {
        @include mSpriteButton();

        margin: 10px auto;
    }

    #hDesktopLink, #tyDesktopLink {
        background-position: -867px 0;
        width: 197px;
        height: 43px;

        &:active { background-position: -867px -43px; }
    }
    #tyDesktopLink { margin-bottom: 50px; }
    #hBuyLink, #tyBuyLink {
        background-position: -734px 0;
        width: 117px;
        height: 42px;

        &:active { background-position: -734px -42px; }
    }

    #hAlbumLinks {
        margin: 0 auto;
        width: 246px;
    }

    #hBuyLink, #hAmazonLink { float: left; }
    #hAmazonLink {
        @include button();

        height: 43px;
        width: 118px;
        margin: 10px 0 0 10px;
        background: url(../img/amazon-mobile.png) no-repeat 0 0;
    }

    #gallery {
        width: 265px;

        >h1 {
            @include mSprite();

            background-position: -1065px 0;
            width: 112px;
            height: 48px;
            margin: 0 0 17px;
        }

        >a.gArrow {
            top: 140px;

            &#gPrev { left: 7px; }
            &#gNext { right: 7px; }
        }

        #gBackLink {
            @include mSpriteButton();

            position: absolute;
            top: 5px;
            right: 7px;
            width: 160px;
            height: 35px;
            background-position: -118px 0;

            &:active { background-position: -118px -35px; }
        }

        #gArt {
            >div {
                >img {
                    width: 81px;
                    height: 78px;
                }
            }
        }
    }

    #lbOverlay {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 310px;
        margin-left: -155px;
        background: none !important;

        >div {
            width: auto;

            >a {
                width: 40px;
                height: 20px;
                background: url(../img/close-button-mobile.png) no-repeat 0 0;
            }

            >div {
                >a {
                    margin-top: 70px;
                    width: 29px;
                    height: 19px;
                    background-image: url(../img/arrow-next-mobile.png);

                    &:first-child {
                        width: 34px;
                        height: 14px;
                        background-image: url(../img/arrow-previous-mobile.png);
                    }
                }
            }

            #lbImgWrapper { width: 165px; }
        }
    }
}