#photoEdit {
    width: 782px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -1113px 0;
        width: 322px;
        height: 57px;
        margin: 35px auto 25px;

        >span { display: none; }
    }

    >img {
        display: block;
        width: 75px;
        margin: 25px auto 10px;
    }

    >div.right {
        width: 446px;
        margin: 35px 0 0 28px;

        >form {
            input {
                border: 1px solid #cbcbcb;
                width: 200px;
                height: 35px;
                padding: 0 10px;
                box-sizing: border-box;
            }

            small { font-style: italic; }
        }

        >.sliders {
            margin-bottom: 50px;

            >div {
                margin: 35px 25px;
            }
        }
    }
}

#peBackLink, #peContinueLink {
    @include spriteButton();

    float: left;
}

#peBackLink {
    background-position: -2280px 0;

    &:active { background-position: -2280px -46px; }
}
#peContinueLink {
    margin-left: 28px;
    background-position: -903px 0;

    &:active { background-position: -903px -46px; }
}


#uploadContainer {
    width: 308px;

    >div {
        position: relative;
        margin: 15px auto;
        height: 308px;
        border: 5px solid #ccc;
        overflow: hidden;

        >img {
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }
}