#photoEdit {
    width: 782px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -1113px 0;
        width: 322px;
        height: 57px;
        margin: 50px auto 25px;

        >span { display: none; }
    }

    >img {
        display: block;
        width: 75px;
        margin: 25px auto 10px;
    }

    >div.right {
        width: 446px;
        margin: 35px 0 0 28px;

        >form {
            input {
                border: 1px solid #cbcbcb;
                width: 200px;
                height: 35px;
                padding: 0 10px;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            small { font-style: italic; }
        }

        >.sliders {
            margin-bottom: 50px;

            >div {
                margin: 35px 10px;
                padding-right: 40px;

                >label {
                    display: block;
                    float: left;
                    width: 70px;
                    text-align: right;
                    margin-right: 15px;
                    height: 27px;
                    line-height: 27px;
                }

                >span {
                    display: block;
                    float: left;
                    width: 27px;
                    height: 27px;
                    background-repeat: no-repeat;
                    background-image: url(../img/photo-edit-tools.png);

                    &.first { margin-right: 15px; }
                    &.last { margin-left: 15px; }
                }

                >div {
                    float: left;
                    width: 215px;
                    height: 2px;
                    margin-top: 12px;
                }

                &#zoomSliderWrapper {
                    >span.last { background-position: 0px 0px; }
                    >span.first { background-position: -27px 0px; }
                }

                &#angleSliderWrapper {
                    >span.last { background-position: -27px -27px; }
                    >span.first { background-position: 0px -27px; }
                }
            }
        }
    }
}

#peBackLink, #peContinueLink {
    @include spriteButton();

    float: left;
}

#peBackLink {
    background-position: -2280px 0;

    &:active { background-position: -2280px -46px; }
}
#peContinueLink {
    margin-left: 28px;
    background-position: -903px 0;

    &:active { background-position: -903px -46px; }
}


#uploadContainer {
    width: 308px;

    >div {
        position: relative;
        margin: 15px auto;
        height: 308px;
        border: 5px solid #ccc;
        overflow: hidden;

        >img {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        >span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 308px;
            height: 308px;
            background: url(../img/photo-edit-face-outline.png) no-repeat 0 0;
        }
    }
}