#review {
    width: 795px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -2981px 0;
        width: 157px;
        height: 50px;
        margin: 35px auto;

        >span { display: none; }
    }

    img {
        display: block;
        width: 321px;
        margin-left: 28px;
        float: left;
    }
}

#rBackLink, #rContinueLink {
    @include spriteButton();

    float: left;
    margin-top: 140px;
}

#rBackLink {
    background-position: -2280px 0;

    &:active { background-position: -2280px -46px; }
}
#rContinueLink {
    margin-left: 28px;
    background-position: -903px 0;

    &:active { background-position: -903px -46px; }
}