#share {
    width: 570px;
    margin: 0 auto;

    >h1 {
        width: 304px;
        height: 59px;
        background: url(../img/congratulations-heading.png) no-repeat 0 0;
        margin: 35px auto 20px;

        >span { display: none; }
    }

    >#sArt {
        margin-right: 27px;
        float: left;
        width: 321px;

        >img {
            display: block;
            width: 321px;
        }

        >p {
            font-size: 12px;
        }
    }

    >#sButtons {
        float: left;
        width: 222px;

        >p { margin-bottom: 15px; }
    }
}

#sFbLink, #sTwLink, #sBuyLink, #sDownloadLink {
    @include button();

    width: 209px;
    height: 46px;
    margin-left: 13px;
    margin-bottom: 15px;
}

#sGalleryLink {
    @include button();

    width: 222px;
    height: 65px;
    margin-bottom: 15px;
}

#SInstLink {
    @include button();

    float: left;
    color: #fff;
    padding-right: 20px;
    background: url(../img/instagram-white-icon-small.png) no-repeat center right;
    margin-left: 60px;
    min-height: 16px;
    line-height: 16px;

    &:hover {
        text-decoration: underline;
    }
}

#sFbLink { background: url(../img/facebook-share-button.png) no-repeat 0 0; }
#sTwLink { background: url(../img/twitter-share-button.png) no-repeat 0 0; }
#sDownloadLink { background: url(../img/download-your-image-button.png) no-repeat 0 0; }
#sBuyLink { background: url(../img/buy-on-itunes-button.png) no-repeat 0 0; }
#sGalleryLink {background: url(../img/view-the-gallery.png) no-repeat 0 0; }