#share {
    width: 570px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -598px 0;
        width: 304px;
        height: 59px;
        margin: 35px auto 20px;

        >span { display: none; }
    }

    >#sArt {
        margin-right: 27px;
        float: left;
        width: 321px;

        >img {
            display: block;
            width: 321px;
        }

        >p { font-size: 12px; }
    }

    >#sButtons {
        float: left;
        width: 222px;

        >p { margin-bottom: 15px; }
    }
}

#sFbLink, #sTwLink, #sDownloadLink {
    @include spriteButton();

    margin-left: 13px;
    margin-bottom: 15px;
}

#sGalleryLink {
    @include button();
    @include sprite();

    background-position: -4322px 0;
    width: 216px;
    height: 61px;
    margin-bottom: 15px;
}

#SInstLink {
    @include button();

    float: left;
    color: #fff;
    padding-right: 20px;
    background: url(../img/instagram-white-icon-small.png) no-repeat center right;
    margin-left: 60px;
    min-height: 16px;
    line-height: 16px;

    &:hover {
        text-decoration: underline;
    }
}

#sFbLink { background-position: -3458px 0; }
#sTwLink { background-position: -3668px 0; }
#sDownloadLink { background-position: -1755px 0; }
#sBuyLink {
    @include button();
    @include sprite();

    background-position: -1646px 0;
    width: 108px;
    height: 38px;
}

#sAmazonLink {
    @include button();
    @include sprite();

    background-position: -99px 0;
    width: 108px;
    height: 50px;
}
