#upload {
    width: 375px;
    margin: 0 auto;

    >h1 {
        @include sprite();

        background-position: -3139px 0;
        width: 318px;
        height: 58px;
        margin: 35px auto 25px;

        >span { display: none; }
    }

    >span {
        @include sprite();

        display: block;
        background-position: -2908px 0;
        width: 72px;
        height: 54px;
        margin: 30px auto;
    }
}

#upContinueLink {
    @include spriteButton();

    cursor: default;
    margin-left: 88px;
    background-position: -903px -92px;

    &.active {
        cursor: pointer;
        background-position: -903px 0;
    }
}