@mixin clearfix() {
    content: " ";
    display: table;
    clear: both;
}

@mixin sprite() {
    background-image: url(../img/desktop-sprite.png);
    background-repeat: no-repeat;
}

@mixin button() {
    display: block;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    >span { display: none; }
}

@mixin spriteButton() {
    @include button();
    @include sprite();

    width: 209px;
    height: 46px;
}

/**
 * Pull in all of the partial CSS files and compile them in the appropriate order.
 */
@import 'reset';
@import 'fwk';
@import 'layout';
@import 'music';
@import 'home';
@import 'gallery';
@import 'emailForm';
@import 'uploadForm';
@import 'confirmPhoto';
@import 'photoEdit';
@import 'review';
@import 'share';
@import 'fbPhotos';
@import 'lightbox';
@import 'jqueryui';
@import 'desktop';
@import 'mobile';